name: Test

on:
  push:
    branches: ['main']
  pull_request:
    branches: ['main']

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Check out our repo source code
        uses: actions/checkout@v4
        with:
          # don't save GITHUB_TOKEN to .git/config; use credential helper instead
          persist-credentials: false

      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version-file: .nvmrc
          cache: npm

      - name: Install dependencies
        run: npm ci
        env:
          NPM_TOKEN: ${{ secrets.NPM_READ_TOKEN }}

      - name: Build
        run: npm run test
